<div class="notify" style="display:none">
    <div class="content-wrapper">
        {% if user_messages %}
            {% for message in user_messages %}
                  {% if message %}
                  <p class="notification">{{ message }}
                      {% if settings.DEBUG %}
                      <span style="font: bold;">(deprecated messaging system!)</span>
                      {% endif %}
                   </p>
                  {% endif %}
            {% endfor %}
        {% endif %}
        {% if messages %}
            {% for message in messages %}
                <p class="notification {{ message.tags }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
        {% if group_messaging_notifications %}
            {% for message in group_messaging_notifications %}
                <p class="notification {{ message.tags }}">{{ message }}</p>
            {% endfor %}
        {% endif %}

        <a id="closeNotify" onclick="notify.close(true)"></a>
    </div>
</div>
